In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
df=pd.read_csv("Breast_Cancer.csv")

In [5]:
print("DataFrame :")
df

DataFrame :

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [6]:
print(" Data Types :")
df.dtypes

 Data Types :

Age                        int64
Race                      object
Marital Status            object
T Stage                   object
N Stage                   object
6th Stage                 object
differentiate             object
Grade                     object
A Stage                   object
Tumor Size                 int64
Estrogen Status           object
Progesterone Status       object
Regional Node Examined     int64
Reginol Node Positive      int64
Survival Months            int64
Status                    object
dtype: object

In [7]:
print("Printing first 5 values :")
print(df.head())

print("Rows x Columns :")
df.shape

Printing first 5 values :
   Age   Race Marital Status T Stage  N Stage 6th Stage  \
0   68  White        Married       T1      N1       IIA
1   50  White        Married       T2      N2      IIIA
2   58  White       Divorced       T3      N3      IIIC
3   58  White        Married       T1      N1       IIA
4   47  White        Married       T2      N1       IIB

               differentiate Grade   A Stage  Tumor Size Estrogen Status  \
0      Poorly differentiated     3  Regional           4        Positive
1  Moderately differentiated     2  Regional          35        Positive
2  Moderately differentiated     2  Regional          63        Positive
3      Poorly differentiated     3  Regional          18        Positive
4      Poorly differentiated     3  Regional          41        Positive

  Progesterone Status  Regional Node Examined  Reginol Node Positive  \
0            Positive                      24                      1
1            Positive                      14                      5
2            Positive                      14                      7
3            Positive                       2                      1
4            Positive                       3                      1

   Survival Months Status
0               60  Alive
1               62  Alive
2               75  Alive
3               84  Alive
4               50  Alive
Rows x Columns :

(4024, 16)

In [8]:
col_names = ['Id', 'Clump_thickness', 'Uniformity_Cell_Size', 'Uniformity_Cell_Shape', 'Marginal_Adhesion',
             'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin', 'Normal_Nucleoli', 'Mitoses', 'Class']
df.columns = col_names
df.columns

ValueError: Length mismatch: Expected axis has 16 elements, new values have 11 elements

In [ ]:
df.drop('Id', axis=1, inplace=True)

for var in df.columns:
    print(df[var].value_counts())


print("Data types :")
print(df.dtypes)

df['Bare_Nuclei'] = pd.to_numeric(df['Bare_Nuclei'], errors='coerce')


print(df.dtypes)


print("Missing values count:")
missing_values_count = df.isnull().sum()
print(missing_values_count)

print(df['Bare_Nuclei'].unique())

mean_bare_nuclei = df['Bare_Nuclei'].mean()
df['Bare_Nuclei'] = df['Bare_Nuclei'].fillna(mean_bare_nuclei)

print("class column-frequency")
print(df['Class'].value_counts())

print("frequency distribution of class variable")
print(df['Class'].value_counts() / float(len(df)))

print(df.describe())

Clump_thickness
1     145
5     129
3     108
4      80
10     69
2      50
8      46
6      34
7      23
9      14
Name: count, dtype: int64
Uniformity_Cell_Size
1     383
10     67
3      52
2      45
4      40
5      30
8      29
6      27
7      19
9       6
Name: count, dtype: int64
Uniformity_Cell_Shape
1     352
2      59
10     58
3      56
4      44
5      34
6      30
7      30
8      28
9       7
Name: count, dtype: int64
Marginal_Adhesion
1     406
3      58
2      58
10     55
4      33
8      25
5      23
6      22
7      13
9       5
Name: count, dtype: int64
Single_Epithelial_Cell_Size
2     385
3      72
4      48
1      47
6      41
5      39
10     31
8      21
7      12
9       2
Name: count, dtype: int64
Bare_Nuclei
1     401
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: count, dtype: int64
Bland_Chromatin
2     166
3     164
1     152
7      73
4      40
5      34
8      28
10     20
9      11
6      10
Name: count, dtype: int64
Normal_Nucleoli
1     442
10     61
3      44
2      36
8      24
6      22
5      19
4      18
7      16
9      16
Name: count, dtype: int64
Mitoses
1     578
2      35
3      33
10     14
4      12
7       9
8       8
5       6
6       3
Name: count, dtype: int64
Class
2    457
4    241
Name: count, dtype: int64
Data types :
Clump_thickness                 int64
Uniformity_Cell_Size            int64
Uniformity_Cell_Shape           int64
Marginal_Adhesion               int64
Single_Epithelial_Cell_Size     int64
Bare_Nuclei                    object
Bland_Chromatin                 int64
Normal_Nucleoli                 int64
Mitoses                         int64
Class                           int64
dtype: object
Clump_thickness                  int64
Uniformity_Cell_Size             int64
Uniformity_Cell_Shape            int64
Marginal_Adhesion                int64
Single_Epithelial_Cell_Size      int64
Bare_Nuclei                    float64
Bland_Chromatin                  int64
Normal_Nucleoli                  int64
Mitoses                          int64
Class                            int64
dtype: object
Missing values count:
Clump_thickness                 0
Uniformity_Cell_Size            0
Uniformity_Cell_Shape           0
Marginal_Adhesion               0
Single_Epithelial_Cell_Size     0
Bare_Nuclei                    16
Bland_Chromatin                 0
Normal_Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64
[10.  2.  4.  1.  3.  9.  7. nan  5.  8.  6.]
class column-frequency
Class
2    457
4    241
Name: count, dtype: int64
frequency distribution of class variable
Class
2    0.654728
4    0.345272
Name: count, dtype: float64
       Clump_thickness  Uniformity_Cell_Size  Uniformity_Cell_Shape  \
count       698.000000            698.000000             698.000000
mean          4.416905              3.137536               3.210602
std           2.817673              3.052575               2.972867
min           1.000000              1.000000               1.000000
25%           2.000000              1.000000               1.000000
50%           4.000000              1.000000               1.000000
75%           6.000000              5.000000               5.000000
max          10.000000             10.000000              10.000000

       Marginal_Adhesion  Single_Epithelial_Cell_Size  Bare_Nuclei  \
count         698.000000                   698.000000   698.000000
mean            2.809456                     3.217765     3.548387
std             2.856606                     2.215408     3.603144
min             1.000000                     1.000000     1.000000
25%             1.000000                     2.000000     1.000000
50%             1.000000                     2.000000     1.000000
75%             4.000000                     4.000000     5.000000
max            10.000000                    10.000000    10.000000

       Bland_Chromatin  Normal_Nucleoli     Mitoses       Class
count       698.000000       698.000000  698.000000  698.000000
mean          3.438395         2.869628    1.590258    2.690544
std           2.440056         3.055004    1.716162    0.951596
min           1.000000         1.000000    1.000000    2.000000
25%           2.000000         1.000000    1.000000    2.000000
50%           3.000000         1.000000    1.000000    2.000000
75%           5.000000         4.000000    1.000000    4.000000
max          10.000000        10.000000   10.000000    4.000000

In [ ]:
X = df.drop(['Class'], axis=1)
y = df['Class']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)


print("X_train , X_test size")
print(X_train.shape, X_test.shape)

X_train , X_test size
(558, 9) (140, 9)

In [ ]:
cols = X_train.columns
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])
print(X_train.head())

  Clump_thickness Uniformity_Cell_Size Uniformity_Cell_Shape  \
0        0.574621            -0.040143              0.277515
1       -0.497748            -0.680143             -0.721540
2        0.932077             1.879857              0.277515
3        0.932077             0.599857              0.943552
4       -0.855205            -0.680143             -0.721540

  Marginal_Adhesion Single_Epithelial_Cell_Size Bare_Nuclei Bland_Chromatin  \
0         -0.629622                    0.775913   -0.405541       -0.171342
1         -0.629622                   -0.549473   -0.684148       -0.171342
2          2.541854                    2.984890   -0.126934        0.660039
3          0.075150                   -0.107678    1.266102        1.491419
4         -0.629622                   -0.549473   -0.684148       -1.002722

  Normal_Nucleoli   Mitoses
0        1.983330 -0.333601
1       -0.601658 -0.333601
2        0.044589  0.859663
3        0.367712 -0.333601
4       -0.601658 -0.333601

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
print(y_pred)

print("probability of getting op as 2-benign")
print(knn.predict_proba(X_test)[:,0])

[4 2 4 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 2 4 4 4 2 4 4 4 2 2 4 2 2 2 2 2 2
 4 2 2 2 2 2 4 4 4 2 4 2 4 2 2 2 4 2 2 2 2 2 4 4 4 4 4 2 4 4 2 4 4 2 2 4 2
 2 2 4 2 4 2 4 2 2 2 2 2 4 2 2 4 4 4 2 4 2 4 2 2 2 2 4 4 4 4 2 2 4 2 2 2 2
 2 2 2 2 2 4 2 2 4 2 2 4 4 4 2 2 4 2 2 4 4 2 4 2 2 2 2 4 4]
probability of getting op as 2-benign
[0.         1.         0.         0.33333333 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 0.         0.         1.         0.         0.         0.
 1.         0.         0.         0.         0.66666667 1.
 0.         1.         1.         1.         1.         1.
 1.         0.         1.         1.         1.         1.
 1.         0.         0.         0.         1.         0.
 1.         0.         1.         1.         1.         0.
 1.         1.         1.         1.         1.         0.
 0.         0.33333333 0.         0.         1.         0.
 0.         1.         0.         0.         1.         1.
 0.         1.         1.         1.         0.33333333 1.
 0.         1.         0.         1.         1.         1.
 1.         1.         0.         1.         1.         0.
 0.         0.         1.         0.33333333 1.         0.
 1.         1.         1.         1.         0.33333333 0.
 0.         0.         1.         1.         0.33333333 1.
 1.         1.         1.         0.66666667 1.         0.66666667
 0.66666667 1.         0.         1.         1.         0.
 1.         1.         0.         0.33333333 0.         1.
 1.         0.         1.         1.         0.         0.
 1.         0.         1.         1.         1.         1.
 0.         0.33333333]

In [ ]:
print('Model accuracy score with k=3: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))
print('Training set score: {:.4f}'.format(knn.score(X_train, y_train)))
print('Test set score: {:.4f}'.format(knn.score(X_test, y_test)))

Model accuracy score with k=3: 0.9643
Training set score: 0.9785
Test set score: 0.9643

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print('Confusion matrix (k=3) \n\n', cm)
print('\nTrue Positives(TP) = ', cm[0,0])
print('\nTrue Negatives(TN) = ', cm[1,1])
print('\nFalse Positives(FP) = ', cm[0,1])
print('\nFalse Negatives(FN) = ', cm[1,0])


print(classification_report(y_test, y_pred))
TP = cm[0,0]
TN = cm[1,1]
FP = cm[0,1]
FN = cm[1,0]

Confusion matrix (k=3)

 [[83  2]
 [ 3 52]]

True Positives(TP) =  83

True Negatives(TN) =  52

False Positives(FP) =  2

False Negatives(FN) =  3
              precision    recall  f1-score   support

           2       0.97      0.98      0.97        85
           4       0.96      0.95      0.95        55

    accuracy                           0.96       140
   macro avg       0.96      0.96      0.96       140
weighted avg       0.96      0.96      0.96       140

In [ ]:
from sklearn.model_selection import cross_val_score, KFold
num_folds = 10
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)
cross_val_results = cross_val_score(knn, X, y, cv=kf)
print(f' K-fold Cross-Validation Results (Accuracy): {cross_val_results}')
print(f' K-fold Mean Accuracy CV: {cross_val_results.mean()}')

 K-fold Cross-Validation Results (Accuracy): [1.         0.95714286 0.95714286 0.95714286 0.95714286 0.98571429
 0.94285714 0.95714286 0.95652174 0.98550725]
 K-fold Mean Accuracy CV: 0.9656314699792963

In [ ]:
from sklearn.model_selection import cross_val_score, StratifiedKFold
num_folds = 10
skf = StratifiedKFold(n_splits=num_folds, shuffle=True, random_state=42)
cross_val_results = cross_val_score(knn, X, y, cv=skf)
print(f' Stratified K-fold Cross-Validation Results (Accuracy): {cross_val_results}')
print(f' Stratified K-fold Mean Accuracy CV: {cross_val_results.mean()}')

 Stratified K-fold Cross-Validation Results (Accuracy): [0.97142857 0.95714286 0.92857143 1.         1.         0.97142857
 0.95714286 0.94285714 0.95652174 0.97101449]
 Stratified K-fold Mean Accuracy CV: 0.9656107660455486